.sectionItemWrapper {
   .sectionItem {
      .title {
         color: #ffff;
      }

      &:last-child {
         margin-bottom: 50px;
      }
   }

   .slickSection {
      position: relative;
   }
}